body{
    margin-bottom: 0px;
    padding: 0px;
    background-color: #83C5BE;
    background-size: auto;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 320px;
    height: 420px;
    background-color:  rgba(0,0,0,0,5);
    color:black;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px;
    transform: translate(-50%, -50%);
}

h1{
    margin-top: 0px;
    padding: 0 0 0 0 40px;
    text-align: center;
    font-size: 30px;
}
.login-box p{
    margin-bottom: 0px;
    padding: 0px;
    font-weight: bold;
}

.login-box button{
    width:  100%;
    margin-bottom: 30px;
}

.login-box button[type="text"], button[type="Username"]{
    border: none;
    border-bottom:  1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box button[type="text"], button[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    
}
.login-box button[type="submit"]:hover{
    cursor: pointer;
    background: #E33d56;
    color:black;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}