body{
    margin-bottom: 0px;
    padding: 0px;
    background-color: #83C5BE;
    background-size: auto;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 320px;
    height: 420px;
    
}